# dependencies
node_modules

# Next.js build output
.next
out

# environment variables
.env
.env.local
.env.production.local

# OS files
.DS_Store

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
